<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
		<title></title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="IE=7" http-equiv="X-UA-Compatible">
		<meta content="width=device-width" name="viewport">
		<meta content="ru_RU" http-equiv="Content-Language">
		<meta content="text/javascript" http-equiv="Content-Script-Type">

		<meta content="text/css" http-equiv="Content-Style-Type">
		<link href="/" rel="home">

		<link href="css/main.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$(window).resize(function() {
					$('.l-body').height($('body').height() - 80);
				});
			});
		</script>
	</head>
	<body>
		<div class="l-layout">
			<div class="l-header"></div>
			<div class="l-body"></div>
			<div class="l-footer"></div>
		</div>
	</body>
</html>